* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 700px;
  position: relative;
  min-height: 500px;
  margin: 0 auto;
}
#inputbox {
  position: absolute;
  width: 700px;
  height: 30px;
  top: 10%;
  left: 50%;
  margin-left: -350px;

}
#input-form {
  height: 100%;
  width: 100%;
  font: 15px Arial;
}
ul {
  list-style: none;
}
.searchres {
  position: absolute;
  top: 20%;
}
a {
  font-weight: bold;
  font-size: 18px;
}
p.url {
  color: green;
  font-size: 15px;
}