//SCSS File
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    behavior: url(PIE.htc);
}


* {
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 3890px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.header-title {
    color: white;
}
.header{
    width: inherit;
    position: relative;
    top: 0px;
}
.header-autoriz {
    display: inline-block;
    position: relative;
    width: inherit;
    height: 40px;

    a {
        font-size: 14px;
        font-family: "Montserrat", Arial;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
}
.header-signup {
    $h: 32px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    position: absolute;
    left: 145px;
    width: 86px;
    @include border-radius(26px);
    height: $h;
    line-height: $h;
    text-align: center;
}
.header-login {
    font-size: 14px;
    font-family: "Montserrat", Arial;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 59px;
    top: 9px;
    width: 90px;
}
.header-title {
    width: inherit;
    position: absolute;
}
.header-title-row1 {
    font-size: 20px;
    font-family: "Montserrat", Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.0px;
}
.header-title-row2 {
    font-family: "Montserrat", Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.header-title-row3 {
    font-family: "Roboto", Arial;
    line-height: 1.2;
    text-align: center;
    opacity: 0.8;
}
.header-find {
    position: absolute;

    a {
        display: block;
        width: inherit;
        height: inherit;
        color: white;
        @include border-radius(20px);
        background-color: rgb(255, 78, 80);
        font-family: "Montserrat", Arial;
        text-align: center;
    }
}


.howitworks {
    position: relative;
    width: inherit;
}
.howitworks-title {
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    font-size: 22px;
}
.howitworks-steps {
    margin: 0px auto;
}
.howitworks-step {
    @include border-radius(3px);
}

.howitworks-step-ul {
    position: relative;
}
.howitworks-step-head {
    font-size: 10px;
    font-family: "Montserrat", Arial;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
    width: 70px;
    height: 21px;
    background-color: rgb(255, 78, 80);
    @include border-radius(10px);
    letter-spacing: 1.5px;
    position: absolute;

}
.howitworks-step-title {
    font-size: 24px;
    font-family: "Montserrat", Arial;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.23;
    text-align: left;
    margin-top: 15px;
    position: absolute;
    overflow: hidden;
}
.howitworks-step-inner {
    font-size: 14px;
    font-weight: 200;
    font-family: "Roboto", Arial;
    color: rgb(204, 204, 204);
    line-height: 1.2;
    width: 259px;
    height: 45px;
    position: absolute;
    opacity: 0.7;
    overflow: hidden;
}

.partners-section-title {
    font-size: 22px;
    font-family: "Montserrat", Arial;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}
.partner-list-photo {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.partner-list-img {
    position: relative;
    height: 41px;
    width: 41px;
    overflow: hidden;
    left: 43px;
    background: url("../img/partnersspr.png") no-repeat;
}
.partner-list-name {
    font-size: 14px;
    font-family: "Montserrat", Arial;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: relative;
}
.partner-list-about {
    font-size: 14px;
    font-family: "Roboto", Arial;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    position: relative;
    overflow: hidden;
}
