//SCSS File
@media (min-width: 768px) and (max-width: 1439px) {
    .wrapper {
        width: 768px;
    }
    .header{
        background: url("../img/headbkg-tab.jpg") no-repeat top center;
        height: 700px;
    }
    .header-autoriz {
        left: 483px;
        top: 38px;
    }
    .header-title {
        top: 0;
    }
    .header-title-row1 {
        position: absolute;
        left: 48px;
        top: 44px;
    }
    .header-title-row2 {
        position: absolute;
        font-size: 52px;
        top: 216px;
        width: 500px;
        left: 131px;
        line-height: 1.2;
    }
    .header-title-row3 {
        font-size: 24px;
        position: absolute;
        top: 365px;
        left: 186px;
        font-weight: 200;
    }
    .header-find {
        width: 227px;
        height: 40px;
        top: 426px;
        left: 268px;

        a {
            line-height: 40px;
            font-size: 14px;
        }
    }
}
